body {
  background: url(../img/progr-op.jpg) no-repeat cover !important;
  background-size: cover;
}

.contact {
  max-width: 1000px;
}

.title {
  text-align: center;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #88bdee;
}

.contact .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.contact .form input[type="text"],
.contact .form input[type="email"],
.contact .form textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
}

.contact .form input[type="text"]:focus,
.contact .form input[type="email"]:focus,
.contact .form textarea:focus {
  border: 2px solid #3895ea;
}

.contact .form input[type="text"],
.contact .form input[type="email"] {
  width: 45%;
  margin-bottom: 15px;
}

.contact .form input[name="subject"] {
  width: 100%;
  margin-bottom: 15px;
}

.contact .form textarea {
  width: 92%;
  height: 200px;
  min-width: 96%;
  max-width: 92%;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 15px;
}

.contact .form .button {
  margin: auto;
  background: #3895ea;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

.contact .form .button:hover {
  background: #387bea;
}

@media screen and (max-width: 800px) {
  header .menu {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
}
